@font-face {
    font-family: 'clemente';
    src: url('../fonts/ClementePDai-Regular.woff') format('woff'),
    url('../fonts/ClementePDai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {

    /*font-family: 'clemente';*/
    /*font-size: 20pt;*/
    background-color: #e9e9e9;
    /*background-color: #f5bfff;*/

    background-size: cover;

}

.btn-ctrl-group {
    margin-bottom: 10px;
    /*display: block;*/
}


