.SZC-A {
  border-color: #0088ff;
}
.SZC-B {
  border-color: #e3e3e3;
}


.NHL-A {
  border-color: #0088ff;
}
.NHL-B {
  border-color: #e3e3e3;
}


.ULT-A {
  border-color: #57bf34;
}
.ULT-B {
  border-color: #e3e3e3;
}