
@font-face {
    font-family: 'Myriad Pro It';
    src: url('../fonts/MyriadPro-It.woff2') format('woff2'),
    url('../fonts/MyriadPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Cond It';
    src: url('../fonts/MyriadPro-CondIt.woff2') format('woff2'),
    url('../fonts/MyriadPro-CondIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Semibold';
    src: url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
    url('../fonts/MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Bold It';
    src: url('../fonts/MyriadPro-BoldIt.woff2') format('woff2'),
    url('../fonts/MyriadPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Bold Cond';
    src: url('../fonts/MyriadPro-BoldCond.woff2') format('woff2'),
    url('../fonts/MyriadPro-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Cond';
    src: url('../fonts/MyriadPro-Cond.woff2') format('woff2'),
    url('../fonts/MyriadPro-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BoldCondIt.woff2') format('woff2'),
    url('../fonts/MyriadPro-BoldCondIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Semibold It';
    src: url('../fonts/MyriadPro-SemiboldIt.woff2') format('woff2'),
    url('../fonts/MyriadPro-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {

    font-family: 'Myriad Pro Bold', sans-serif;
    font-size: 20pt;
    color: #434242;
    /*background-color: #c8c8c8;*/
    background-color: #ff00ff;
    /*background-image: url("./bggg.png");*/

    background-size: cover;

}

.content {
    /* little centering for ease of cropping (1280 x 720)*/
    margin-left: 50px;
    margin-top: 60px;
}

/*.board {*/
/*letter-spacing: -1pt;*/
/*width: calc(2 * 138px + 130px);*/
/*display: grid;*/
/*grid-template-columns: 138px 130px 138px;*/
/*grid-template-areas:*/
/*"team-home score-home time"*/
/*"team-away score-away time";*/
/*}*/

.board {
    letter-spacing: -1pt;
    width: calc(2 * 138px + 130px);
    display: grid;
    grid-template-columns: 138px 130px 138px;
    grid-template-areas: "team-home score team-away" "......... time  .........";
}

.board__box {
    text-align: center;
    background-color: #f0deb2;
    width: 130px;
    padding: 4px;
    /*height: 40px;*/
}

.team-home {
    grid-area: team-home;
    border-left: 8px solid white;
}

.team-away {
    grid-area: team-away;
    border-right: 8px solid white;
}

.score {
    grid-area: score;
    z-index: 9999; /* heh */
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.time {
    grid-area: time;
}

@keyframes score-ease-out {
    0% {
        background-color: #ec6e1f;
    }
    100% {
        background-color: #f0deb2;
    }
}

.team-score-animation {
    animation: score-ease-out 8s;
}

.team-score {
    background-color: #ec6e1f;
}

.names {
    position: fixed;
    bottom: 10vh;
}

.names__box {
    background-color: #f0deb2;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.assist-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 60px;
}

#assist {
    position: absolute;
    height: 40px;
    font-size: 16pt;
    width: fit-content;
    background-color: #ec6e1f;
    color: #f0deb2;
    bottom: -60px;
    transition: all .25s ease;
}

#assist.active {
    transition: all .25s ease;
    bottom: 0;
}

.scorer-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 70px;
}

#scorer {
    position: absolute;
    height: 60px;
    font-size: 22pt;
    border-right: 8px solid #ec6e1f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 9998;
    left: -70%;
    transition: all .75s ease;
}

#scorer.active {
    transition: all .75s ease;
    left: 0;
}

.logo {
    margin-top: 50px;
}

/*.scorer-animation {*/
/*animation: scorer-slide-right 1s infinite;*/
/*}*/



