# Created by .ignore support plugin (hsz.mobi)
.sass-cache/
*.css.map
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea
.history
.vscode
scores_server/__pycache__
scores_html/static/images/bg.png