<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
<!--    <meta http-equiv="refresh" content="30" />-->
    <title>TV Scoreboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.webmanifest">

    <link rel="stylesheet" style="!important;background-color: white">
    <link rel="stylesheet" href="../static/css/controller.css">

</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div class="content" style="font-size: 20px">
    <div>TIME: 8:20 </div><div>ID: 8233, ATRE Junior vs Fabrykanci, TIME: 8:20 04.03.2023</div><br>
    <div>TIME: 9:00 </div><div>ID: 8206, ATRE Indians vs Pogoń Pyton, TIME: 9:00 04.03.2023</div><br>
    <div>TIME: 9:40 </div><div>ID: 8176, KKS Prokocim KrakUF vs Flow, TIME: 9:40 04.03.2023</div><br>
    <div>TIME: 10:20 </div><div>ID: 8170, Savage Ultimate vs AKS ZŁY Sikalafon, TIME: 10:20 04.03.2023</div><br>
    <div>TIME: 11:00 </div><div>ID: 8174, 4hands vs mJAH, TIME: 11:00 04.03.2023</div><br>
    <div>TIME: 11:40 </div><div>ID: 8230, Albatros vs ATRE Junior, TIME: 11:40 04.03.2023</div><br>
    <div>TIME: 12:20 </div><div>ID: 8202, Wrocław Przedpołudnie vs Sky This, TIME: 12:20 04.03.2023</div><br>
    <div>TIME: 13:00 </div><div>ID: 8181, AKS ZŁY Żelipapą vs 4hands II, TIME: 13:00 04.03.2023</div><br>
    <div>TIME: 13:40 </div><div>ID: 8204, Mad Hatters vs RJP II, TIME: 13:40 04.03.2023</div><br>
    <div>TIME: 14:20 </div><div>ID: 8213, 1G vs 1E, TIME: 14:20 04.03.2023</div><br>
    <div>TIME: 15:00 </div><div>ID: 8172, Frisbnik vs Savage Ultimate, TIME: 15:00 04.03.2023</div><br>
    <div>TIME: 15:40 </div><div>ID: 8183, 2B vs 1D, TIME: 15:40 04.03.2023</div><br>
    <div>TIME: 16:20 </div><div>ID: 8238, Kato Vice vs AKS ZŁY Omledifromaż, TIME: 16:20 04.03.2023</div><br>
    <div>TIME: 17:00 </div><div>ID: 8184, 2A vs 1C, TIME: 17:00 04.03.2023</div><br>
    <div>TIME: 17:40 </div><div>ID: 8195, 3C vs 3A, TIME: 17:40 04.03.2023</div><br>
    <div>TIME: 18:20 </div><div>ID: 8215, 1H vs 1F, TIME: 18:20 04.03.2023</div><br>
    <div>TIME: 8:20 </div><div>ID: 8246, 3I vs 4J, TIME: 8:20 05.03.2023</div><br>
    <div>TIME: 9:00 </div><div>ID: 8223, 2G vs 2H, TIME: 9:00 05.03.2023</div><br>
    <div>TIME: 9:40 </div><div>ID: 8214, 1E vs 1F, TIME: 9:40 05.03.2023</div><br>
    <div>TIME: 10:20 </div><div>ID: 8199, 3C vs 3D, TIME: 10:20 05.03.2023</div><br>
    <div>TIME: 11:00 </div><div>ID: 8245, SF Loser 1 vs SF Loser 2, TIME: 11:00 05.03.2023</div><br>
    <div>TIME: 11:40 </div><div>ID: 8244, SF Winner 1 vs SF Winner 2, TIME: 11:40 05.03.2023</div><br>
    <div>TIME: 12:40 </div><div>ID: 8187, QF Winner 3 vs QF Winner 4, TIME: 12:40 05.03.2023</div><br>
    <div>TIME: 13:20 </div><div>ID: 8224, 3E vs 3H, TIME: 13:20 05.03.2023</div><br>
    <div>TIME: 14:00 </div><div>ID: 8212, 1E vs 1H, TIME: 14:00 05.03.2023</div><br>
    <div>TIME: 15:00 </div><div>ID: 8191, SF Loser 1 vs SF Loser 2, TIME: 15:00 05.03.2023</div><br>
    <div>TIME: 15:40 </div><div>ID: 8190, SF Winner 1 vs SF Winner 2, TIME: 15:40 05.03.2023</div><br>

</div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/easytimer.min.js"></script>
<script src="../static/js/scoreboard.js"></script>
</body>
</html>