<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Player Stats - Scoreboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/e939364dd5.js" crossorigin="anonymous"></script>
    <link rel="manifest" href="site.webmanifest">

    <link rel="stylesheet" href="../static/css/scoreboard.css">
    <link rel="stylesheet" href="../static/css/animations.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div class="content">

    <div id="player-stats" class="player-stats active">
        <div id="player-stats__th-name" class="player-stats__name player-stats__th-name">
        </div>
        <div id="player-stats__ta-name" class="player-stats__name player-stats__ta-name">
        </div>
        <div id="player-stats__th-stats">
            <!-- Home team stats table will be inserted here -->
        </div>
        <div id="player-stats__ta-stats">
            <!-- Away team stats table will be inserted here -->
        </div>
        <div id="player-stats__info">
            Książenice, Boisko 1
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/easytimer.min.js"></script>
<script src="../static/js/animations/core.js"></script>
<script src="../static/js/animations/scoreboard.js"></script>
<script src="../static/js/animations/overlays.js"></script>
<script src="../static/js/animations/transitions.js"></script>
<script src="../static/js/scoreboard.js"></script>
<script>
    // Initialize player stats view
    $(document).ready(function() {
        if (window.websocket.readyState !== WebSocket.OPEN) {
            websocketConnection();
        }
    });
</script>
</body>
</html>