<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Stream Scoreboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/e939364dd5.js" crossorigin="anonymous"></script>
    <link rel="manifest" href="site.webmanifest">

    <link rel="stylesheet" href="../static/css/scoreboard.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div class="content">
    <div id="pstats" class="pstats active">
        <div id="pstats__th-name" class="pstats__name pstats__th-name">
        </div>
        <div id="pstats__div"></div>
        <div id="pstats__ta-name" class="pstats__name pstats__ta-name">
        </div>
        <div id="pstats__th-pstats" class="pstats__pstats-th-container">
        </div>
        <div id="pstats__pstats" class="pstats__pstats">
            <ul>
                <li>PUNKTY</li>
                <li>ASYSTY</li>
            </ul>
        </div>
        <div id="pstats__ta-pstats" class="pstats__pstats-ta-container">
        </div>
        <div id="pstats__info">
            Książenice, Boisko 1</i>
        </div>
    </div>


</div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/easytimer.min.js"></script>
<script src="../static/js/scoreboard.js"></script>
</body>
</html>