<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Stream Scoreboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/e939364dd5.js" crossorigin="anonymous"></script>
    <link rel="manifest" href="site.webmanifest">

    <link rel="stylesheet" href="../static/css/scoreboard.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div class="content">

    <div id="roster" class="roster active">
        <div id="roster__th-name" class="roster__name roster__th-name">
        </div>
        <div id="roster__ta-name" class="roster__name roster__ta-name">
        </div>
        <div id="roster__th-roster" class="roster__roster-container">

        </div>
        <div id="roster__ta-roster" class="roster__roster-container">
            
        </div>
        <div id="roster__info">
            Książenice, Boisko 1
        </div>
    </div>

</div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/easytimer.min.js"></script>
<script src="../static/js/scoreboard.js"></script>
</body>
</html>