<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Stream Scoreboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.webmanifest">

    <link rel="stylesheet" href="../static/css/scoreboard.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div class="content">
    <div class="board">
        <div id="th" class="board__box team-home">HOM</div>
        <div class="board__box score-home"><span id="th-score">0</span></div>
        <div class="board__box score-away"><span id="ta-score">0</span></div>
        <div id="ta" class="board__box team-away">AWA</div>

        <div id="timer" class="board__box time"><span id="timer-minutes">00</span>:<span id="timer-seconds">00</span></div>
    </div>

<!--    <div class="roster">-->
<!--        <div id="roster__th-name" class="roster__name roster__th-name">-->
<!--            Ultimatum Gdańsk-->
<!--        </div>-->
<!--        <div id="roster__ta-name" class="roster__name roster__ta-name">-->
<!--            Szczupaki Olsztyn-->
<!--        </div>-->
<!--        <div id="roster__th-roster" class="roster__roster-container">-->
<!--            <ul class="roster__th-roster-list">-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#16</span>-->
<!--                    Agata Żuk-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#2</span>-->
<!--                    Bartłomiej Szostek-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#9</span>-->
<!--                    Honorata Ząbek-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#11</span>-->
<!--                    Jakub Klimek-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#26</span>-->
<!--                    Julia Hardy-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#0</span>-->
<!--                    Kamil Kiljan-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#69</span>-->
<!--                    Kamil Merchelski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#48</span>-->
<!--                    Katarzyna Komorowska-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#4</span>-->
<!--                    Maciej Fickowski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#24</span>-->
<!--                    Michał Gorzkowski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#19</span>-->
<!--                    Oliwia Deorocka-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#27</span>-->
<!--                    Piotr Wrzaszcz-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#86</span>-->
<!--                    Tomasz Bartniczak-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#22</span>-->
<!--                    Adam Nowaknowaczeksss-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#22</span>-->
<!--                    Adam Nowak-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div id="roster__ta-roster" class="roster__roster-container">-->
<!--            <ul class="roster__ta-roster-list">-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#11</span>-->
<!--                    Jan Kowalski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#22</span>-->
<!--                    Adam Nowak-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#11</span>-->
<!--                    Jan Kowalski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#11</span>-->
<!--                    Jan Kowalski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#22</span>-->
<!--                    Adam Nowak-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#11</span>-->
<!--                    Jan Kowalski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#11</span>-->
<!--                    Jan Kowalski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#22</span>-->
<!--                    Adam Nowak-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#11</span>-->
<!--                    Jan Kowalski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#11</span>-->
<!--                    Jan Kowalski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#22</span>-->
<!--                    Adam Nowak-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#11</span>-->
<!--                    Jan Kowalski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#11</span>-->
<!--                    Jan Kowalski-->
<!--                </li>-->
<!--                <li class="roster__ta-roster-item roster__roster-item">-->
<!--                    <span class="roster__roster-item__number">#22</span>-->
<!--                    Adam Nowak-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div id="roster__info">-->
<!--            Gdańsk Stogi, Boisko 1-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="stats">
        <div id="stats__th-name" class="stats__name stats__th-name">
            Ultimatum Gdańsk
        </div>
        <div id="stats__ta-name" class="stats__name stats__ta-name">
            Szczupaki Olsztyn
        </div>
        <div id="stats__th-stats" class="stats__stats-container">

        </div>
        <div id="stats__ta-stats" class="stats__stats-container">

        </div>
        <div id="stats__info">
            Gdańsk Stogi, Boisko 1
        </div>
    </div>-->


    <div class="names">
        <div class="assist-wrapper">
            <div id="assist" class="names__box">-</div>
        </div>

        <div class="scorer-wrapper">
            <div id="scorer" class="names__box">-</div>
        </div>
    </div>

</div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/easytimer.min.js"></script>
<script src="../static/js/scoreboard.js"></script>
</body>
</html>