<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Stream Scoreboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/e939364dd5.js" crossorigin="anonymous"></script>
    <link rel="manifest" href="site.webmanifest">

    <link rel="stylesheet" href="../static/css/scoreboard.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div class="content">
    <div id="wind" class="wind active">
<!--        <div class="wind__box wind-icon">-->
<!--            <i class="fa-solid fa-fan fa-spin fa-spin-reverse"></i>-->
<!--        </div>-->
<!--        <div class="wind__box wind-direction">-->
<!--            <i id="wind-direction-arrow" class="wind-direction__arrow fa-solid fa-location-arrow"></i>-->
<!--        </div>-->
<!--        <div class="wind__box wind-speed">-->
<!--            <p id="wind-speed" class="wind-speed__data"></p>m/s-->
<!--        </div>-->
        <div class="wind__box wind-icon2">
            <i id="wind-temp-icon" class="fa-solid fa-temperature-three-quarters"></i>
        </div>
        <div class="wind__box wind-temp">
            <p id="wind-temp" class="wind-speed__data"></p>°C
        </div>
        <div class="wind__box wind-icon3">
            <i id="wind-hum-icon" class="fa-solid fa-droplet"></i>
        </div>
        <div class="wind__box wind-hum">
            <p id="wind-hum" class="wind-speed__data"></p>%
        </div>
    </div>


</div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/easytimer.min.js"></script>
<script src="../static/js/scoreboard.js"></script>
</body>
</html>