@font-face {
    font-family: 'Myriad Pro It';
    src: url('../fonts/MyriadPro-It.woff2') format('woff2'),
    url('../fonts/MyriadPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Cond It';
    src: url('../fonts/MyriadPro-CondIt.woff2') format('woff2'),
    url('../fonts/MyriadPro-CondIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Semibold';
    src: url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
    url('../fonts/MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Bold It';
    src: url('../fonts/MyriadPro-BoldIt.woff2') format('woff2'),
    url('../fonts/MyriadPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Bold Cond';
    src: url('../fonts/MyriadPro-BoldCond.woff2') format('woff2'),
    url('../fonts/MyriadPro-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Cond';
    src: url('../fonts/MyriadPro-Cond.woff2') format('woff2'),
    url('../fonts/MyriadPro-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BoldCondIt.woff2') format('woff2'),
    url('../fonts/MyriadPro-BoldCondIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Semibold It';
    src: url('../fonts/MyriadPro-SemiboldIt.woff2') format('woff2'),
    url('../fonts/MyriadPro-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Kiona Bold';
    src: url('../fonts/Kiona-Bold.woff') format('woff'),
    url('../fonts/Kiona-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    opacity: 0.9;
    --main-bg-color: magenta;

    --box-bg-color: rgba(255, 255, 255, 0.84);
    --box-font-color: #3f2c37;
    --box-point-accent-color: #e66ae4;

    --box-point-accent-fade-color: var(--box-bg-color);

    --names-point-bg-color: var(--box-bg-color);
    --names-point-accent-color: var(--box-point-accent-color);
    --names-point-font-color: var(--box-font-color);

    --names-assist-bg-color: var(--box-point-accent-color);
    --names-assist-font-color: var(--box-bg-color);


    margin: 0;
    font-family: 'Myriad Pro Bold', sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    color: var(--box-font-color);
    background-color: var(--main-bg-color);
    /*background-color: #ff00ff;*/


    background-size: cover;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content {
    /* little centering for ease of cropping (1280 x 720)*/
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
    /*width: 100%;*/
}

.board {
    width: 204px;
    display: grid;
    grid-template-areas: "team-home  score-h"
                         "team-away  score-a"
                         "time       .......";
}

.board__box {
    text-align: center;
    background-color: var(--box-bg-color);
    /*width: 130px;*/
    padding: 8px 4px 4px;
    /*height: 40px;*/
}


.disc-possession {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), inset -5px 0 0 0 rgb(255 255 255);*/
    border-right: solid rgb(255 255 255) 5px;
    transition: border-right 0.3s cubic-bezier(0, 0, 0, 1);;
}

.team-home {
    grid-area: team-home;
    border-left: 8px solid white;
    width: 130px;

}

.team-away {
    grid-area: team-away;
    border-left: 8px solid white;
    background-color: var(--box-bg-color);
    width: 130px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*filter: brightness(85%);*/

}


.score-home {
    grid-area: score-h;
    width: 50px;
    z-index: 9999; /* heh */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.score-away {
    grid-area: score-a;
    width: 50px;
    z-index: 9999; /* heh */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.time {
    grid-area: time;
    width: 80px;
    font-size: 14pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@keyframes score-ease-out {
    0% {
        background-color: var(--box-point-accent-color);
    }
    100% {
        background-color: var(--box-point-accent-fade-color);
    }
}

.team-score-animation {
    animation: score-ease-out 8s;
}

.team-score {
    background-color: var(--box-point-accent-color);
}

.names {
    position: fixed;
    bottom: 10vh;
}

.names__box {
    background-color: var(--names-point-bg-color);
    color: var(--names-point-font-color);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.assist-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 60px;
}

#assist {
    position: absolute;
    height: 40px;
    font-size: 16pt;
    width: fit-content;
    background-color: var(--names-assist-bg-color);
    color: var(--names-assist-font-color);
    bottom: -60px;
    transition: all .25s ease;
}

#assist.active {
    transition: all .25s ease;
    bottom: 0;
}

.scorer-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 70px;
}

#scorer {
    position: absolute;
    height: 60px;
    font-size: 22pt;
    border-right: 8px solid var(--names-point-accent-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 9998;
    left: -70%;
    transition: all .75s ease;
}

#scorer.active {
    transition: all .75s ease;
    left: 0;
}

.roster, .stats {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 1600px;
    font-size: 16pt;
    display: grid;

}

.roster {
    grid-template-areas: "roster-th-name  roster-ta-name"
                         "roster-th-content  roster-ta-content"
                         "roster-info  roster-info";
}

.stats {
    grid-template-areas: "stats-th-name  stats-ta-name"
                         "stats-th-content  stats-ta-content"
                         "stats-info  stats-info";
}

.roster__name, .stats__name {
    background-color: var(--box-bg-color);
    font-size: 24pt;
    padding-top: 24px;
    padding-bottom: 20px;
}

.roster__th-name {
    grid-area: roster-th-name;
    border-left: 8px solid white;
}

.roster__ta-name {
    grid-area: roster-ta-name;
    border-right: 8px solid white;
}

.roster__roster-container {
    width: 800px;
    background-color: var(--box-point-accent-color);
    color: var(--box-bg-color);
}

.roster__ta-roster-list, .roster__th-roster-list {
    padding-bottom: 20px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.roster__ta-roster-list li:nth-child(2n), .roster__th-roster-list li:nth-child(2n) {
    filter: brightness(50%);
}

#roster__th-roster {
    border-right: 2px solid var(--box-bg-color);
}

.roster__roster-item {
    padding-top: 12px;
}

.roster__roster-item__number {
    color: var(--box-bg-color);
    font-size: 14pt;
}

#roster__th-roster {
    grid-area: roster-th-content;
}

#roster__ta-roster {
    grid-area: roster-ta-content;
}

#stats__th-stats {
    grid-area: stats-th-content;
}

#stats__ta-stats {
    grid-area: stats-ta-content;
}

#roster__info, #stats__info {
    background-color: var(--box-font-color);
    color: var(--box-bg-color);
    padding-top: 10px;
    padding-bottom: 8px;
}

#roster__info {
    grid-area: roster-info;
}

#stats__info {
    grid-area: stats-info;
}


/*.scorer-animation {*/
/*animation: scorer-slide-right 1s infinite;*/
/*}*/



